body {
  background-image: url("./backgroundImage.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: black;
  font-family: "Press Start 2P", cursive;
  position: relative;
}

main {
  /* width: fit-content; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -72%);
}

h1 {
  width: 100vw;
  text-align: center;
  color: yellow;
  font-size: 5vmin;
  margin-bottom: 5vmin;
}

#gameField {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 16vw;
}

#media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 10px;
  width: min-content;
  font-size: 1.4vmin;
  color: white;
}

label {
  font-size: 1.2vmin;
}

#canvasField {
  height: min(40vw, 55vh);
  width: min(40vw, 55vh);
  margin: 0px;
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

#gameCanvas {
  height: min(40vw, 55vh);
  width: min(40vw, 55vh);
  margin: 0px;
}

#score {
  color: white;
  width: min-content;
  text-align: center;
  font-size: 2.5vmin;
}

.popUp {
  box-sizing: border-box;
  width: 18vw;
  height: 15vh;
  background: white;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 60px 170px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  visibility: hidden;
}

.popUp-gameover {
  visibility: visible;
}

.popUp h2 {
  font-size: 2vmin;
  font-weight: 500;
  margin: 0%;
  text-align: center;
}

.popUp p {
  font-size: 1.5vmin;
  margin: 0;
  text-align: center;
}

button {
  border: 0;
  width: 5vw;
  border-radius: 8px;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5vmin;
  padding: 8px;
  text-align: center;
}

#btnStart {
  background: lightblue;
  visibility: visible;
  font-size: 2vmin;
  width: fit-content;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btnYes {
  background: greenyellow;
  margin-right: 5px;
  margin-left: 15px;
}

#btnNo {
  background: red;
  margin-left: 5px;
}

#btnOK {
  background: lightblue;
  visibility: hidden;
  width: 0;
}

#footer {
  flex-grow: 2;
}
